<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JLM - Data for smarter trade decision-making</title>
    <!-- bootstrap CSS and my styles.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
    <link rel="stylesheet" href="css/styles.css">
    <!--bootstrap JS-->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img height=100 src="img/logo.png"></a>

     
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/documentation.html"><strong>Documentation</strong></a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="report.html" tabindex="-1" aria-disabled="true"><strong>Report</strong></a>
                    </li>
                  </ul>
                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
      
                  <div class="col-lg-2 col-sm-2">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>
            </div>
      </nav>
      </header>
      <div class="container-fluid">
          <div class="container">
                <section class="row">
                    <article class="col-lg-12">
                      <header class="hero-content">
                        <h1 class="text-center">Cross-Currency Stock Data</h1>
                                <p class="text-center grayish">The S&P 500 in any currency.</p>
                      </header>
                    </article>
                </section>
          </div>
          <div class="container-fluid feature-02">
              <div class="container">
                <section class="row">
                    <article class="col-lg-6 flexx-mid-center">
                        <header >
                                <h3 class="text-justify">API Documentation</h3>
                                <p class="text-justify">The JLM API is organized around REST. Our API accepts request for several Stock Data and returns JSON responses through
                                  the use of standard HTTP response codes and authentication.</p>
                                  
                                    <a href="documentation.html" class="btn btn-warning">Documentation</a>
                        </header>
                    </article>
                    <aside class="col-lg-6 flexx-mid-center">
                        <img src="img/logo.png">
                    </aside>
                </section>
                </div>
          </div>
      </div>   
	<footer class="container">
	
	</footer>
</body>
</html>

